#cookieConsent
  #closeCookieConsent x
  |El sitio web www.miweb.es utiliza cookies propias y de terceros para recopilar información que ayuda a optimizar su visita a sus páginas web. No se utilizarán las cookies para recoger información de carácter personal. Usted puede permitir su uso o rechazarlo, también puede cambiar su configuración siempre que lo desee. Encontrará más información en nuestra Política de Cookies.
  a(href='#', target='_blank') More info
  | .
  a.cookieConsentOK That's Fine
