.container-fluid.footer.mt-5
  .container.text-center
    .row
      .col
        img.footer-logo.my-2(src="./img/logo-wt.svg", alt="Creatina Design")
    .row
      .col.mt-3
        a.custom-link(href="https://goo.gl/maps/CHX6LJf5h4A2" target="blank") Centro Empresarial Tartessos Pollensa, 4 Edificio II - Oficina 9 28290 Las Rozas - Madrid
    .row
      .col.mt-1
        a.custom-link.mr-2(href="tel:+34916306530") +34 916 306 530
        a.custom-link(href="mailto:info@creatina-design.com") info@creatina-design.com
.container-fluid.p-0
  .orange-stripe
