.container-fluid.footer.mt-5
  .container
    .row
      .col-md-2
        img.footer-logo.my-2(src="./img/logo-wt.svg", alt="Creatina Design")
      .col-md.bl-white
        ul.list-unstyled.my-2
          li 
            a.custom-link(href="tel:+34916306530") +34 916 306 530
          li
            a.custom-link(href="https://goo.gl/maps/CHX6LJf5h4A2" target="blank") 
              | Centro Empresarial Tartessos Pollensa, 4 
              br
              | Edificio II - Oficina 9 28290 Las Rozas - Madrid
          li  
            a.custom-link(href="mailto:info@creatina-design.com") info@creatina-design.com
