.jumbotron.jumbotron-fluid.jumbo-container.p-0.m-0
  .traslucid
    .container.jumbo-content
      h1.jumbo-header.text-shadow “I Just want to make beautifull things, even if nobody cares”
      .jumbo-author.mt-4.text-shadow Saul Bass
