.jumbotron.jumbotron-fluid.jumbo-container-alt.p-0.m-0
  #jumboSlider.carousel.slide(data-ride='carousel')
    .traslucid-alt
      .absolute-center
        .container
          h1.jumbo-header.text-shadow “I Just want to make beautifull things, even if nobody cares”
          .jumbo-author.mt-4.text-shadow Saul Bass
    .carousel-inner
      .carousel-item.active
        img.slider-img(src="./img/indexbg1_3200x1800.jpg")
      .carousel-item
        img.slider-img(src="./img/indexbg4_3200x1800.jpg")
      .carousel-item
        img.slider-img(src="./img/indexbg5_3200x1800.jpg")
