nav.navbar.navbar-expand-md.fixed-top.navbar-background.navbar-shadow
  .container.d-flex
    .navbar-brand.d-md-none
      a(href="index.html") 
        img.brand-logo(src="./img/logo.svg", alt="Creatina Design")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle Navigation")
      span.fas.fa-ellipsis-v.menu-icon
    #navbarContent.collapse.navbar-collapse
      .navbar-nav.mx-auto.text-md-center.text-left
        .nav-item.my-auto
          a.custom-nav-item(href="index.html#about") About Us
        .nav-item.my-auto
          a.custom-nav-item(href="index.html#portfolio") Portfolio
        .nav-item
          a.custom-nav-item.navbar-brand.mx-0.d-none.d-md-inline(href="index.html")
            img.brand-logo(src="./img/logo.svg", alt="Creatina Design")
        .nav-item.my-auto
          a.custom-nav-item(href="index.html#clients") Our Clients
        .nav-item.my-auto
          a.custom-nav-item(href="index.html#contact") Contact
          
      

      
    
