#portfolio.container-fluid.py-5
  .container
    #gallery
      .row
        .col-6.col-md.m-0.p-0
          .flex-container
            .flex-cell
              .flex-item.print
                a.portfolio(href="#print" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="print")
                  h1.h2.text-uppercase.text-center.portfolio-section.text-shadow printed
        .col-6.col-md.m-0.p-0
          .flex-container
            .flex-cell
              .flex-item.outdoor
                a.portfolio(href="#outdoor" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="outdoor")
                  h1.h2.text-uppercase.text-center.portfolio-section.text-shadow outdoor
        .col-6.col-md.m-0.p-0
          .flex-container
            .flex-cell
              .flex-item.packaging
                a.portfolio(href="#packaging" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="packaging")
                  h1.h2.text-uppercase.text-center.portfolio-section.text-shadow packaging
        .col-6.col-md.m-0.p-0
          .flex-container
            .flex-cell
              .flex-item.digital
                a.portfolio(href="#digital" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="digital")
                  h1.h2.text-uppercase.text-center.portfolio-section.text-shadow digital
      .row
        #print.col-12.collapse.show(aria-labelledby='print', data-parent='#gallery')
          .gallery-container
            .row
              .col-2.col-sm-4.divider-gray.my-auto
              .col-8.col-sm-4.text-center
                h1.h2.text-uppercase.light-gray.my-4 Printed
              .col-2.col-sm-4.divider-gray.my-auto
            .row
              .col-md-12.mt-3
                .row
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt='')

        #outdoor.col-12.collapse.indent(aria-labelledby='outdoor', data-parent='#gallery')
          .gallery-container
            .row
              .col-2.col-sm-4.divider-gray.my-auto
              .col-8.col-sm-4.text-center
                h1.h2.text-uppercase.light-gray.my-4 Outdoor
              .col-2.col-sm-4.divider-gray.my-auto
            .rowvv
              .col-md-12.mt-3
                .row
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/out_billboard_ANTMAN.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/out_billboard_ANTMAN.jpg', alt='Antman Billboard')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/out_totem_HANSOLO.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/out_totem_HANSOLO.jpg', alt='Han Solo Totem')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/out_metro_BPANTHER.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/out_metro_BPANTHER.jpg', alt='Black Panther Billboard')

        #packaging.col-12.collapse.indent(aria-labelledby='packaging', data-parent='#gallery')
          .gallery-container
            .row
              .col-2.col-sm-4.divider-gray.my-auto
              .col-8.col-sm-4.text-center
                h1.h2.text-uppercase.light-gray.my-4 Packaging
              .col-2.col-sm-4.divider-gray.my-auto
            .row
              .col-md-12.mt-3
                .row
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_caja_DLP.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_caja_DLP.jpg', alt='Disneyland® Box')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_palomitero_INC.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_palomitero_INC.jpg', alt='Pop Corn Cup')
                  
        #digital.col-12.collapse.indent(aria-labelledby='digital', data-parent='#gallery')
          .gallery-container
            .row
              .col-2.col-sm-4.divider-gray.my-auto
              .col-8.col-sm-4.text-center
                h1.h2.text-uppercase.light-gray.my-4 Digital
              .col-2.col-sm-4.divider-gray.my-auto
            .row
              .col-md-12.mt-3
                .row
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/62307/air-bubbles-diving-underwater-blow-62307.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/38238/maldives-ile-beach-sun-38238.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/158827/field-corn-air-frisch-158827.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/302804/pexels-photo-302804.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/1038914/pexels-photo-1038914.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?auto=compress&cs=tinysrgb&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/56005/fiji-beach-sand-palm-trees-56005.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt='')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', rel='ligthbox')
                          img.zoom.img-fluid(src='https://images.pexels.com/photos/1038002/pexels-photo-1038002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940', alt='')
