#portfolio.container-fluid.py-5
  .container
    #gallery
      .row
        .col-6.col-md.m-0.p-0
          .flex-container
            .flex-cell
              .flex-item.print
                a.portfolio(href="#print" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="print")
                  h1.h2.text-uppercase.text-center.portfolio-section.text-shadow printed
        .col-6.col-md.m-0.p-0
          .flex-container
            .flex-cell
              .flex-item.outdoor
                a.portfolio(href="#outdoor" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="outdoor")
                  h1.h2.text-uppercase.text-center.portfolio-section.text-shadow outdoor
        .col-6.col-md.m-0.p-0
          .flex-container
            .flex-cell
              .flex-item.packaging
                a.portfolio(href="#packaging" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="packaging")
                  h1.h2.text-uppercase.text-center.portfolio-section.text-shadow packaging
        .col-6.col-md.m-0.p-0
          .flex-container
            .flex-cell
              .flex-item.digital
                a.portfolio(href="#digital" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="digital")
                  h1.h2.text-uppercase.text-center.portfolio-section.text-shadow digital
      .row
        #print.col-12.collapse.show(aria-labelledby='print', data-parent='#gallery')
          .gallery-container
            .row
              .col-2.col-sm-4.divider-gray.my-auto
              .col-8.col-sm-4.text-center
                h1.h2.text-uppercase.light-gray.my-4 Printed
              .col-2.col-sm-4.divider-gray.my-auto
            .row
              .col-md-12.mt-3
                .row
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/print_magazine_CARS.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/print_magazine_CARS-THUM.jpg', alt='Cars Magazine Ad')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/print_magazine_PS4_doble-FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/print_magazine_PS4_doble-THUM.jpg', alt='PS4 Magazine Ad')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/print_magazine_B&B-FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/print_magazine_B&B-THUM.jpg', alt='Beauty & The Beast Magazine Ad')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/print_magazine_DisneyTools-FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/print_magazine_DisneyTools-THUM.jpg', alt='Beauty & The Beast Magazine Ad')

        #outdoor.col-12.collapse.indent(aria-labelledby='outdoor', data-parent='#gallery')
          .gallery-container
            .row
              .col-2.col-sm-4.divider-gray.my-auto
              .col-8.col-sm-4.text-center
                h1.h2.text-uppercase.light-gray.my-4 Outdoor
              .col-2.col-sm-4.divider-gray.my-auto
            .row
              .col-md-12.mt-3
                .row
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/out_billboard_ANTMAN.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/out_billboard_ANTMAN-THUM.jpg', alt='Antman Billboard')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/out_totem_HANSOLO.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/out_totem_HANSOLO.jpg', alt='Han Solo Totem')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/out_metro_BPANTHER.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/out_metro_BPANTHER-THUM.jpg', alt='Black Panther Billboard')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='#out_Mupi_Digital_PRINCESS', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/out_Mupi_Digital_PRINCESS-THUM.jpg', alt='Digital Billboard')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='#out_Mupi_Digital_KITCHEN', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/OUT_TeCuentoEnLaCocina_SQ.jpg', alt='Digital Billboard')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/out_PS4-fnac-FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/out_PS4-fnac-THUM.jpg', alt='Coco Bus Stop')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/out_poster_FROZEN.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/out_poster_FROZEN-THUM.jpg', alt='Frozen Poster')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/OUT_Cabecera-Spiderman.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/OUT_Cabecera-Spiderman.jpg', alt='Spiderman Retail Marketing Exhibition')

        #packaging.col-12.collapse.indent(aria-labelledby='packaging', data-parent='#gallery')
          .gallery-container
            .row
              .col-2.col-sm-4.divider-gray.my-auto
              .col-8.col-sm-4.text-center
                h1.h2.text-uppercase.light-gray.my-4 Packaging
              .col-2.col-sm-4.divider-gray.my-auto
            .row
              .col-md-12.mt-3
                .row
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_palomitero_INC.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_palomitero_INC-THUM.jpg', alt='Pop Corn Cup')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_caja_DLP.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_caja_DLP-THUM.jpg', alt='Disneyland® Box')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_mockup_pack_mickey-FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_mockup_pack_mickey-THUM.jpg', alt='Mickey Pack')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_mockup_gifting-FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_mockup_gifting-THUM.jpg', alt='Sony Play Station Gifting Folder')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_mockup_maletin-FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_mockup_maletin-THUM.jpg', alt='Disney Little Einsteins Briefcase')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_Mockup-InsectosMutantes.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_Mockup-InsectosMutantes_SQ.jpg', alt='Disney Little Einsteins Briefcase')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_Mock-up_ACA.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_Mock-up_ACA_SQ.jpg', alt='Disney Little Einsteins Briefcase')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/pk_Mockup-ManyManitas.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/pk_Mockup-ManyManitas_SQ.jpg', alt='Disney Little Einsteins Briefcase')

                  
        #digital.col-12.collapse.indent(aria-labelledby='digital', data-parent='#gallery')
          .gallery-container
            .row
              .col-2.col-sm-4.divider-gray.my-auto
              .col-8.col-sm-4.text-center
                h1.h2.text-uppercase.light-gray.my-4 Digital
              .col-2.col-sm-4.divider-gray.my-auto
            .row
              .col-md-12.mt-3
                .row
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/DIG_Acec_Avengers.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/DIG_Acec_Avengers_SQ.jpg', alt='Avengers Cinema Web Skin')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/DIG_AMAZON_PS4_FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/DIG_AMAZON_PS4_SQ.jpg', alt='PS4 Amazon Banner')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/DIG_Cinesa_Thor.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/DIG_Cinesa_Thor_SQ.jpg', alt='Thor Cinema Web Skin')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/DIG_CARREFOUR_PS4_FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/DIG_CARREFOUR_PS4_SQ.jpg', alt='PS4 Carrefour Banner')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/DIG_Kinepolis_Increibles.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/DIG_Kinepolis_Increibles_SQ.jpg', alt='Incredibles II Cinema Web Skin')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/DIG_MMK_PS4_FULL.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/DIG_MMK_PS4_SQ.jpg', alt='PS4 MediaMarkt Banner')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/DIG_Ocine_COCO.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/DIG_Ocine_COCO_SQ.jpg', alt='Coco Cinema Web Skin')
                  .col-lg-3.col-md-4.col-xs-6.thumb.p-0
                    .flex-container
                      .flex-cell
                        a.fancybox.focus(href='./img/DIG_Web_MakingGolf.jpg', rel='ligthbox')
                          img.zoom.img-fluid(src='./img/DIG_Web_MakingGolf_SQ.jpg', alt='Making Golf Website')
