#privacyNotice.modal(tabindex='-2', role='dialog', aria-labelledby='Privacy Notice', aria-hidden='true')
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header.montse
        h3#cookiesLegal.modal-title 
          strong Creatina Design's Privacy Policy
        button.close(type='close', data-dismiss='modal', aria-label='Cerrar')
          span(aria-hidden='true') ×
      .modal-body.montse
        p CREATINA DESIGN, S.L. Cumple con la normativa legal de Protección de Datos, Ley Orgánica 15/99 de 13 de Diciembre y normativa que la desarrolla, por ello les informa de los siguientes extremos:
        p Los campos señalados con * son obligatorios, en el caso de que no se cumplimenten, no será posible tramitar su consulta.
        p Le informamos que sus datos personales van a ser incorporados a un fichero automatizado de datos de carácter personal, con la finalidad de tramitar consultas sobre nuestros productos, servicios y actividades.
        p El responsable del fichero es CREATINA DESIGN, S.L., y conforme la LOPD y normativa de desarrollo se compromete al cumplimiento de su obligación de secreto de los datos de carácter personal, y de su deber de guardarlos, adoptando las medidas necesarias adecuadas para evitar su alteración, pérdida, tratamiento o acceso no autorizado.
        p El titular de los datos podrá ejercitar los derechos de acceso, rectificación, oposición y cancelación de los datos personales, mediante escrito dirigido a CREATINA DESIGN, S.L., a la dirección: C/ POLLENSA, 4. OF. 9 - 28290 - LAS ROZAS DE MADRID (MADRID)
        p El escrito debe contener los siguientes datos: Nombre y apellidos del titular de los datos, domicilio a efectos de notificaciones, fotocopia del D.N.I. y petición en que se concreta la solicitud.
        p El Titular de los datos presta su consentimiento para que CREATINA DESIGN, S.L. pueda dirigirle comunicaciones comerciales referidas a productos o servicios, relacionados con la actividad y servicios de la empresa, bien por correo electrónico, por correo postal o por cualquier otro medio, pudiendo solicitar en cualquier momento el cese en el envío de dichas comunicaciones.
        p En caso de Vd. que no preste su consentimiento para el envío de correspondencia comercial háganoslo saber escribiéndonos a C/ POLLENSA, 4. OF. 9 - 28290 - LAS ROZAS DE MADRID (MADRID), o escribiendo un correo electrónico y poniendo en el asunto del e-mail NO DESEO RECIBIR INFORMACIÓN COMERCIAL.
      .modal-footer.montse
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
