video.hidden(id='out_Mupi_Digital_PRINCESS' autoplay loop controls preload="auto" width="100%" height="auto")
  source(src='./video/out_Mupi_Digital_PRINCESS-FULL.mp4', alt='Coco Billboard')
  | Your browser does not support the video tag.

video.hidden(id='out_Mupi_Digital_KITCHEN' autoplay loop controls preload="auto" width="100%" height="auto")
  source(src='./video/OUT_TeCuentoEnLaCocina-flat.mp4', alt='Coco Billboard')
  | Your browser does not support the video tag.
