extends ../partials/submited.pug
block content
  .container-fluid.my-5
    .container
      .row
        .col-md.m-0.p-0
          .flex-container.full-height
            .flex-fullsize
              .flex-item
                h1.black Thanks for contact us!
                p We will reply your message on folloing days. Meanwhile, checkout our <a href="index.html#portfolio">portfolio</a> or go back to our <a href="index.html">website</a>.
